<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTP->RTC</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="static/js/main.js"></script>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <title>Testing RTC</title>
    <p>Run the back-end then hit the button</p>
    <video autoplay controls id="stream" height="720px" width="1280px" style="border: 5px solid gray;"></video>
    <button disabled id="start" style="margin-top: 10px; width: 100px;">start</button>
</body>
</html>